[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
django-recaptcha = "*"
boto3 = "*"
django-storages = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
